beautifulsoup4==4.10.0
certifi==2020.11.8
chardet==3.0.4
idna==2.10
lxml==4.9.1
requests==2.28.2
soupsieve==2.0.1
urllib3==1.26.2
openpyxl
tqdm~=4.62.1
pytest~=6.2.2
pandas~=1.2.0
argparse~=1.4.0
XlsxWriter~=1.4.3
il-supermarket-scraper==0.2.8
pymongo<=4.1
psutil==5.9.5
yagmail==0.15.293
pyscopg2<=65.0